<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='jquery-3.7.1.min.js') }}"></script>
    <title>スポーツ成績推移可視化アプリ</title>
</head>
<body>
    <div class="title">スポーツ成績推移可視化アプリ</div>
    <div>{{ip_msg}}</div>
    <div id="game"></div>
    <!-- <div class="menu_area">
        <div class="menu_button" id="btn_volley">バレー</div>
        <div class="menu_button" id="btn_handball">ハンドボール</div>
        <div class="menu_button" id="btn_baseball">野球</div>
    </div> !-->
    <iframe src="/dash/" width="100%" height="800px" style="border:none;"></iframe>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
